{{define "title"}}Crear Author{{end}}
{{define "head"}} {{end}}

{{define "content"}}

     <div class="container">
        <h3 class="mcenter" >{{template "title" .}}</h3>
	<form method="post">
          <div class="fwrapper fcols2">
	     <div class="fbox">
		<label for="name">Name</label>
              </div>
	     <div class="fbox">
		<input type="text" id="name" name="name" size="32" maxlength="48" placeholder="Name" autofocus />
             </div>
          </div>

          <div class="fwrapper fcols2">
	     <div class="fbox">
		<input type="hidden" name="token" value="{{.token}}">
              </div>
	     <div class="fbox">
                <span>
		   <input type="submit" name="action" value="Crear"/>
		   <input type="submit" name="action" value="Cancelar"/>
                </span>
              </div>
           </div>
	</form>
	
	{{template "footer" .}}
    </div>

{{end}}
{{define "foot"}}<h5>Nombre Author</h5>{{end}}
